<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
  <link rel="stylesheet" href="css/slist.css">
</head>
<body>
  <div class="topnav">
  <a href="/admindashboard">Dashboard</a>
 </div>
  <h1>Messages from users:</h1>


<ul class="a">
  <ul>
    {{#each data}}
      <li>
        <h4>From:
          {{name}}</h4>
        <h2>Email id:
          {{email}}</h2>
        <h3>Message:
          {{help}}</h3>
        <h5>Details:
          {{details}}</h5>
        
      </li>
    {{/each}}
  </ul>
  
</ul>

</body>
</html>