<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="eligibility.js"></script>
    <title>Check eligibility</title>
</head>
<style>
    body{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>
<body>
    <div style="display:flex; width: 80%; height: 80%;flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center; padding: 7px; margin: auto;">
        <form class="row g-3" name="form" action="/eligibility" method="POST" required>

           
            
            <div class="col-md-6">
                <label for="grade10" class="form-label">10th percentage</label>
                <input type="number" class="form-control" id="grade10" min="0" max="100">
            </div>
            
            <div class="col-md-6">
                <label for="year10" class="form-label">10th passing year</label>
                <input type="number" class="form-control" id="year10" min="2000" >
            </div>

            <div class="col-md-6">
                <label for="grade12" class="form-label">12th percentage</label>
                <input type="number" class="form-control" id="grade12" min="0" max="100">
            </div>
            <div class="col-md-6">
                <label for="year12" class="form-label">12th passing year</label>
                <input type="number" class="form-control" id="year12" min="0" >
            </div>

             <div class="col-md-4">
                <label for="course" class="form-label">Are you currently studying in science field?</label>
                <select id="course" class="form-select">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="diploma" class="form-label">Are you Diploma student?</label>
                <select id="diploma" class="form-select">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="management" class="form-label">Are you a management student?</label>
                <select id="management" class="form-select">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="phd" class="form-label">Are you a Phd Student?</label>
                <select id="phd" class="form-select">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="currentyear" class="form-label">Current year of study</label>
                <input type="number" class="form-control" id="currentyear" min="0" max="4">
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label">State</label>
                <select id="state" class="form-select">
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Andhra Pradesh</option>
                    <option>Tamilnadu</option>
                    <option>Telangana</option>
                    <option>Maharashtra</option>
                    <option>Madhya Pradesh</option>
                    <option>Goa</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="caste" class="form-label">Caste</label>
                <select id="caste" class="form-select">
                    <option>General</option>
                    <option>Madhwa brahmin</option>
                    <option>SC</option>
                    <option>ST</option>
                    <option>OBC</option>
                    <option>Jain</option>
                    <option>other</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" class="form-select">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="income" class="form-label">Annual income</label>
                <input type="number" class="form-control" id="income">
            </div>
            <div class="col-md-4">
                <label for="otherscholarship" class="form-label">Are you currently receiving any scholarships?</label>
                <select id="otherscholarship" class="form-select">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</body>

</html>