<!-- views/result.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/slist.css">
  <title>Eligible Scholarships</title>
</head>
<body>
  <div class="topnav">
  <a href="/studenstdash">Dashboard</a>
  </div>
  <h1>Eligible Scholarships</h1>
  {{#if names}}
    <p>Eligible Scholarships:<br> {{names}}</p>
  {{else}}
    <p>No eligible scholarships found</p>
  {{/if}}
</body>
</html>





