<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scholarship news</title>
<link href="css/stylesnews.css" rel="stylesheet">
</head>
<body>

<h1>Scholarship news</h1>


  

     <div class="info">
   {{#each data}}
   <li> <p>{{news}}</p>
    <a href={{link}}>Read here</a>
    </li>
    {{/each}}
  </div>
  
  
  
  </body>
  </html>